<!DOCTYPE html>
<html>
<head>
    <title>后台登陆系统</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-theme.css">
    <style type="text/css">
div.main{
    width:85%;
    float:right;
    /*margin-top: 100px;*/
}
        /*div.head{*/
            /*width:85%;*/
            /*float:right;*/
        /*}*/
        div.link{
            width: 15%;
            float: left;
        }
    </style>
</head>
<script src="javascripts/jquery.js"></script>
<script src="javascripts/bootstrap.js"></script>

<body>


<div class="head">
<div class="page-header">
    <h1>Miyakee & CCCty <small>Welcome</small></h1>
</div></div>

<div class="link">
<ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Article</a></li>
    <li role="presentation"><a href="#">Picture</a></li>
    <li role="presentation"><a href="#">Comments</a></li>
    <li role="presentation"><a href="#">Comic</a></li>
    <li role="presentation"><a href="#">Collection</a></li>
    <li role="presentation"><a href="#">Visitor</a></li>

</ul></div>
<div class="main">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">All article</a></li>
        <li role="presentation"><a href="#">Create New</a></li>
        <li role="presentation"><a href="#">Have deleted</a></li>
    </ul>
<div class="panel panel-default">
    <!-- Default panel conte   nts -->
    <div class="panel-heading">主人发表的文章</div>
    <div class="panel-body">
        <p>加油发文</p>
    </div>
<table class="table table-striped">
<th>id</th><th>标题</th><th>分类</th><th>内容</th><th>阅读量</th><th>点赞</th><th>修改日期</th><th>创建日期</th><th>操作</th>
    <% all.forEach(function(item){ %>
<tr><td><%= item.id %></td><td><%= item.theme %></td><td><%= item.category_id %></td><td><%= item.content %></td><td><%= item.click %></td><td><%= item.goods %></td><td><%= item.created_at %></td><td><%= item.updated_at %></td><td>修改 删除</td></tr>
    <!--<tr><td>123</td><td>123</td><td>123</td><td>123</td><td>123</td><td>123</td><td>232</td><td>123</td><td>修改 删除</td></tr>-->
    <% }) %>

</table>
    </div>
</body>
</html>
